.clear:after{
    content: '';
    clear: both;
    display: block;
}
button::after {
    border-radius: 0;
}
button{
    border-radius: 0;
}

.container{
    margin-bottom: 50px;
    overflow: hidden;
}
.ul-foot{
    height: 40px;
    line-height: 40px;
    color: #999999;
    font-family: PingFang-SC-Regular;
    font-size: 12px;
    text-align: center;

}
.ul-foot  img{
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-right: 6px;
}
.isAndroidBindPhone{
    position: relative;
    top: 6px !important;
}
.isAndroidSreach{
    position: relative;
    top: 6px !important;
}
